div {
  margin-top: 16px;
}

section {
  display: grid;
  height: 100%;
  place-items: center;
  place-content: center;
}

h1, h2 {
  text-align: center;
}

p {
  margin-top: 30px;
  text-align: center;
}
  